<%= form_for(@item, url: admin_items_path) do |f| %>
  <div class="container">
    <div class="row">
      <h2>商品新規登録</h2>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <%= f.attachment_field :image %>
          </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <label>商品名</label>
                <%= f.text_field :name, class:"form-control" %>
                <label>商品説明</label>
                <%= f.text_area :introduction, class:"form-control" %>
                <%= f.label :genre, 'ジャンル' %>
                <%= f.select :genre_id, Genre.all.map{|o| [o.name, o.id]} %>
                <label>税抜価格</label>
                <%= f.text_field :price, class:"form-control" %>円<br>
                <%= f.label :is_active, '販売ステータス' %>
                <%= f.select :is_active, Item.is_actives.keys, { class: 'form-control' , required: true } %>
            </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <%= f.submit "新規登録"%>
              </div>
      </div>
    </div>
  <% end %>
